@page "/menu"
@using ResataurantClient.Models
@using ResataurantClient.Services
@using RestaurantClient.Services
@inject IProductService ProductService
@inject ICartService CartService
@inject NavigationManager NavigationManager

@code {
    private IEnumerable<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllProducts();
    }

    private void GoToCart()
    {
        NavigationManager.NavigateTo("/cart");
    }

    private void AddToCart(Product product)
    {
        var cartItem = new CartItem
            {
                ProductId = product.Id,
                Name = product.Name,
                Quantity = 1, 
                Price = product.Price
            };

        CartService.AddToCart(cartItem);
    }

}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Название вашего ресторана</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Меню</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">О нас</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-outline-success" @onclick="GoToCart">
                        Корзина
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2>Наше меню</h2>
    <div class="row">
        @if (products == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var item in products)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="http://localhost:5298/@item.ImageUrl" class="card-img-top" alt="@item.Name" style="height: 220px; object-fit: cover;" onerror="this.onerror=null;">

                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><strong>@item.Price Сомонӣ</strong></p>
                            <button class="btn btn-primary" @onclick="() => AddToCart(item)">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
